:root {
    --main-bg: lightgrey;
    --inner-bg: white;
    --bttn-bg: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 white, stop: 1 lightgrey);
    --bttn-hover-bg: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 lightgrey, stop: 1 #bbb);
    --bttn-pressed-bg: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 grey, stop: 1 grey);
    --bttn-disabled-bg: rgba(0, 0, 0, 0);
    --item-selected-bg: #333;

    --bttn-border: 1px solid grey;
    --item-selected-border: 1px solid grey;

    --txt-color: black;
    --bttn-disabled-txt-color: rgba(0, 0, 0, 0.5);
    --item-selected-txt-color: white;
}

QWidget {
    background: var(--main-bg);
    color: var(--txt-color);
}

QLineEdit, QListWidget, QCheckBox::indicator {
    background: var(--inner-bg);
}

QCheckBox::indicator {
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:checked {
    image: url('src/mvrgx/gui/asset/img/checkmark.svg');
}

QListWidget::item:selected {
    background: var(--item-selected-bg);
    color: var(--item-selected-txt-color);
    border: var(--item-selected-border);
}

QPushButton {
    background: var(--bttn-bg);
    color: var(--txt-color);
    border: var(--bttn-border);
    border-radius: 2px;
}

QPushButton:hover {
    background: var(--bttn-hover-bg);
}

QPushButton:pressed {
    background: var(--bttn-pressed-bg);
}

QPushButton:disabled {
    background: var(--bttn-disabled-bg);
    color: var(--bttn-disabled-txt-color);
}

QLineEdit[inputValid="True"] {
    color: black;
}

QLineEdit[inputValid="False"] {
    color: red;
}